body{
    background-image: url("https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg");
}
h2{
    color: goldenrod;
    text-align: center;
}
#message-el{
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: large;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 2px;
}
.card{
    margin:auto;
    width: 400px;
    padding: 5px;
    display: block;
    color: white;
    background-image:url("img/download.jpg") ;
    text-align: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-weight: bold; 
}
.card img{
    align-items: center;
    height: 300px;
    width: 300px;
}
#newCard{
    display: none;
}
